{% extends "base.html" %}
{% load static %}


{% block content %}


        <!-- page-title -->
        <section class="page__title p_relative">
            <div class="bg-layer" style="background-image:url({% static 'sites/assets/images/resource/page-title-bg.jpg' %})"></div>
            <div class="auto-container">
                <div class="content__box p_relative">
                    <ul class="bread__crumb">
                        <li><a href="index.html">Home </a></li>
                        <li> <span> -</span>Blogs </li>
                    </ul>
                    <h1 class="title">Blogs</h1>
                </div>
            </div>
        </section>
        <!-- page-title end-->

        <!-- blog-page -->
        <div class="blog__page p_relative see__pad">
            <div class="auto-container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12 news__block">
                        <div class="news___block wow slideInUp animated animated" data-wow-delay="00ms" data-wow-duration="1500ms" style="visibility: visible;">
                            <div class="inner-box p_relative">
                                <div class="image-box p_relative d_block">
                                    <figure class="image p_relative d_block">
                                        <a href="blog-details.html"><img src="assets/images/news/news-1.jpg" alt=""></a>
                                    </figure>
                                    <div class="post__date">
                                        <ul>
                                            <li> <i class="icon-15"></i>26 July 2023</li>
                                            <li class="two"></li>
                                            <li><i class="icon-09"></i> Admin</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="lower___content p_relative">
                                    <h4><a href="blog-details.html">4 Cybersecurity Takeaways from China’s Largest Data Breach</a></h4>
                                    
                                    <div class="btn__box__two">
                                        <a href="blog-details.html" class="theme__btn__two"><i class="icon-02"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 news__block">
                        <div class="news___block wow slideInUp animated animated" data-wow-delay="200ms" data-wow-duration="1500ms" style="visibility: visible;">
                            <div class="inner-box p_relative">
                                <div class="image-box p_relative d_block">
                                    <figure class="image p_relative d_block">
                                        <a href="blog-details.html"><img src="assets/images/news/news-2.jpg" alt=""></a>
                                    </figure>
                                    <div class="post__date">
                                        <ul>
                                            <li> <i class="icon-15"></i>26 July 2023</li>
                                            <li class="two"></li>
                                            <li><i class="icon-09"></i> Admin</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="lower___content p_relative">
                                    <h4><a href="blog-details.html">4 Cybersecurity Takeaways from China’s Largest Data Breach</a></h4>
                                    
                                    <div class="btn__box__two">
                                        <a href="blog-details.html" class="theme__btn__two"><i class="icon-02"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 news__block">
                        <div class="news___block wow slideInUp animated animated" data-wow-delay="400ms" data-wow-duration="1500ms" style="visibility: visible;">
                            <div class="inner-box p_relative">
                                <div class="image-box p_relative d_block">
                                    <figure class="image p_relative d_block">
                                        <a href="blog-details.html"><img src="assets/images/news/news-3.jpg" alt=""></a>
                                    </figure>
                                    <div class="post__date">
                                        <ul>
                                            <li> <i class="icon-15"></i>26 July 2023</li>
                                            <li class="two"></li>
                                            <li><i class="icon-09"></i> Admin</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="lower___content p_relative">
                                    <h4><a href="blog-details.html">4 Cybersecurity Takeaways from China’s Largest Data Breach</a></h4>
                                    
                                    <div class="btn__box__two">
                                        <a href="blog-details.html" class="theme__btn__two"><i class="icon-02"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 news__block">
                        <div class="news___block wow slideInUp animated animated" data-wow-delay="400ms" data-wow-duration="1500ms" style="visibility: visible;">
                            <div class="inner-box p_relative">
                                <div class="image-box p_relative d_block">
                                    <figure class="image p_relative d_block">
                                        <a href="blog-details.html"><img src="assets/images/news/news-4.jpg" alt=""></a>
                                    </figure>
                                    <div class="post__date">
                                        <ul>
                                            <li> <i class="icon-15"></i>26 July 2023</li>
                                            <li class="two"></li>
                                            <li><i class="icon-09"></i> Admin</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="lower___content p_relative">
                                    <h4><a href="blog-details.html">4 Cybersecurity Takeaways from China’s Largest Data Breach</a></h4>
                                    
                                    <div class="btn__box__two">
                                        <a href="blog-details.html" class="theme__btn__two"><i class="icon-02"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 news__block">
                        <div class="news___block wow slideInUp animated animated" data-wow-delay="400ms" data-wow-duration="1500ms" style="visibility: visible;">
                            <div class="inner-box p_relative">
                                <div class="image-box p_relative d_block">
                                    <figure class="image p_relative d_block">
                                        <a href="blog-details.html"><img src="assets/images/news/news-5.jpg" alt=""></a>
                                    </figure>
                                    <div class="post__date">
                                        <ul>
                                            <li> <i class="icon-15"></i>26 July 2023</li>
                                            <li class="two"></li>
                                            <li><i class="icon-09"></i> Admin</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="lower___content p_relative">
                                    <h4><a href="blog-details.html">4 Cybersecurity Takeaways from China’s Largest Data Breach</a></h4>
                                    
                                    <div class="btn__box__two">
                                        <a href="blog-details.html" class="theme__btn__two"><i class="icon-02"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 news__block">
                        <div class="news___block wow slideInUp animated animated" data-wow-delay="400ms" data-wow-duration="1500ms" style="visibility: visible;">
                            <div class="inner-box p_relative">
                                <div class="image-box p_relative d_block">
                                    <figure class="image p_relative d_block">
                                        <a href="blog-details.html"><img src="assets/images/news/news-6.jpg" alt=""></a>
                                    </figure>
                                    <div class="post__date">
                                        <ul>
                                            <li> <i class="icon-15"></i>26 July 2023</li>
                                            <li class="two"></li>
                                            <li><i class="icon-09"></i> Admin</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="lower___content p_relative">
                                    <h4><a href="blog-details.html">4 Cybersecurity Takeaways from China’s Largest Data Breach</a></h4>
                                    
                                    <div class="btn__box__two">
                                        <a href="blog-details.html" class="theme__btn__two"><i class="icon-02"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- blog-page end-->

        {% endblock content %}