{% extends "base.html" %}
{% load static %}


{% block content %}


        <!-- page-title -->
        <section class="page__title p_relative">
            <div class="bg-layer" style="background-image:url({% static 'sites/assets/images/resource/page-title-bg.jpg' %})"></div>
            <div class="auto-container">
                <div class="content__box p_relative">
                    <ul class="bread__crumb">
                        <li><a href="{% url 'index' %}">Accueil </a></li>
                        <li> <span> -</span>Nos Services </li>
                    </ul>
                    <h1 class="title">Nos Services</h1>
                </div>
            </div>
        </section>
        <!-- page-title end-->

        <!-- service-page end-->
        <div class="service__page p_relative see__pad">
            <div class="auto-container">
                <div class="row">
                    
                    <div class="col-lg-4 col-md-6 col-sm-12 wow fadeInUp animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                        <div class="service__block">
                            <div class="service__icon">
                                <i class="icon-04"></i>
                                <div class="service__icon__two"></div>
                            </div>
                            <div class="service__text">
                                <h4><a href="{% url 'services_details' %}">SEO Marketing</a></h4>
                                <p>Providing legal advice, contract drafting, compliance assistance.</p>
                            </div>
                            <div class="service__button">
                                <a href="{% url 'services_details' %}"><i class="icon-05"></i></a>
                            </div>
                        </div>
                    </div>
               
                </div>
            </div>
        </div>
        <!-- page-title end-->


        {% endblock content %}