{% extends "base.html" %}
{% load static %}


{% block content %}


        <!-- page-title -->
        <section class="page__title p_relative">
            <div class="bg-layer" style="background-image:url({% static 'sites/assets/images/resource/page-title-bg.jpg' %})"></div>
            <div class="auto-container">
                <div class="content__box p_relative">
                    <ul class="bread__crumb">
                        <li><a href="index.html">Home </a></li>
                        <li> <span> -</span>Testimonial </li>
                    </ul>
                    <h1 class="title">Testimonial</h1>
                </div>
            </div>
        </section>
        <!-- page-title end-->

        <!-- pricing-page -->
        <div class="testimonial__page p_relative see__pad">
            <div class="testimonial___data">
                <div class="row">
                    <div class="col-xl-3 col-lg-6 col-md-12">
                        <div class=" testimonials__block__one page">
                            <div class="testimonials__info">
                                <div class="authore__img">
                                    <figure class="image">
                                        <img src="assets/images/resource/author-01.png" alt="">
                                    </figure>
                                </div>
                                <div class="authore__rating">
                                    <ul>
                                        <li><i class="icon-13"></i></li>
                                        <li><i class="icon-13"></i></li>
                                        <li><i class="icon-13"></i></li>
                                        <li><i class="icon-13"></i></li>
                                        <li><i class="icon-13"></i></li>
                                    </ul>
                                </div>
                                <div class="authore__info">
                                    <h5>Wade Warren</h5>
                                    <p>Manager</p>
                                </div>
                                <div class="testimonials__text">
                                    <p>Our technologies are designed to seamlessly integrate with your existing systems, minimizing disruption and maximizing productivity.</p>
                                </div>
                            </div>
                            <div class="quote">
                                <span class="icon-03"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-12">
                        <div class=" testimonials__block__one page">
                            <div class="testimonials__info">
                                <div class="authore__img">
                                    <figure class="image">
                                        <img src="assets/images/resource/author-02.png" alt="">
                                    </figure>
                                </div>
                                <div class="authore__rating">
                                    <ul>
                                        <li><i class="icon-13"></i></li>
                                        <li><i class="icon-13"></i></li>
                                        <li><i class="icon-13"></i></li>
                                        <li><i class="icon-13"></i></li>
                                        <li><i class="icon-13"></i></li>
                                    </ul>
                                </div>
                                <div class="authore__info">
                                    <h5>Wade Warren</h5>
                                    <p>Manager</p>
                                </div>
                                <div class="testimonials__text">
                                    <p>Our technologies are designed to seamlessly integrate with your existing systems, minimizing disruption and maximizing productivity.</p>
                                </div>
                            </div>
                            <div class="quote">
                                <span class="icon-03"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-12">
                        <div class=" testimonials__block__one page">
                            <div class="testimonials__info">
                                <div class="authore__img">
                                    <figure class="image">
                                        <img src="assets/images/resource/author-03.png" alt="">
                                    </figure>
                                </div>
                                <div class="authore__rating">
                                    <ul>
                                        <li><i class="icon-13"></i></li>
                                        <li><i class="icon-13"></i></li>
                                        <li><i class="icon-13"></i></li>
                                        <li><i class="icon-13"></i></li>
                                        <li><i class="icon-13"></i></li>
                                    </ul>
                                </div>
                                <div class="authore__info">
                                    <h5>Wade Warren</h5>
                                    <p>Manager</p>
                                </div>
                                <div class="testimonials__text">
                                    <p>Our technologies are designed to seamlessly integrate with your existing systems, minimizing disruption and maximizing productivity.</p>
                                </div>
                            </div>
                            <div class="quote">
                                <span class="icon-03"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-12">
                        <div class=" testimonials__block__one page">
                            <div class="testimonials__info">
                                <div class="authore__img">
                                    <figure class="image">
                                        <img src="assets/images/resource/author-04.png" alt="">
                                    </figure>
                                </div>
                                <div class="authore__rating">
                                    <ul>
                                        <li><i class="icon-13"></i></li>
                                        <li><i class="icon-13"></i></li>
                                        <li><i class="icon-13"></i></li>
                                        <li><i class="icon-13"></i></li>
                                        <li><i class="icon-13"></i></li>
                                    </ul>
                                </div>
                                <div class="authore__info">
                                    <h5>Wade Warren</h5>
                                    <p>Manager</p>
                                </div>
                                <div class="testimonials__text">
                                    <p>Our technologies are designed to seamlessly integrate with your existing systems, minimizing disruption and maximizing productivity.</p>
                                </div>
                            </div>
                            <div class="quote">
                                <span class="icon-03"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- pricing-page end-->

        <!-- accomplised-section -->
        <section class="accomplised__section__two see__pad">
            <div class="auto-container">
                <div class="accomplised__data two p_relative">
                    <div class="row">
                        <div class="col-lg-7 col-md-12">
                            <div class="title__data">
                                <div class="sub__title">
                                    <h4>What we've accomplised</h4>
                                </div>
                                <div class="title">
                                    <h2>We pride ourselves on <br> our excellent support <br> and servic</h2>
                                </div>
                            </div>
                            <div class="btn-box">
                                <a href="contact.html" class="theme-btn theme-btn-one"><i class="icon-02"></i> Contact Us</a>
                            </div>
                        </div>
                        <div class="col-lg-1"></div>
                        <div class="col-lg-4 col-md-12">
                            <div class="funfact__data">
                                <div class="funfact__content one">
                                    <div class="count-outer count-box">
                                        <span>+</span>
                                        <h1 class="count-text" data-speed="1500" data-stop="4.9">0</h1>
                                        <span class="two">*</span>
                                    </div>
                                    <p> Customer Satisfaction</p>
                                </div>
                                <div class="funfact__content two">
                                    <div class="count-outer count-box">
                                        <span>+</span>
                                        <h1 class="count-text" data-speed="1500" data-stop="4.9">0</h1>
                                        <span class="two">k</span>
                                    </div>
                                    <p>Active our Members</p>
                                </div>
                                <div class="funfact__content three">
                                    <div class="count-outer count-box">
                                        <span>+</span>
                                        <h1 class="count-text" data-speed="1500" data-stop="30">0</h1>
                                        <span class="two">%</span>
                                    </div>
                                    <p>Same day resolution</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- accomplised-section-end -->

       
           
{% endblock content %}
    